<div>

    <h1 class="custom-page-header">
        {{heading}}
    </h1>
    <ol class="arrows">
        <li>
            <a href="#">Home</a>
            <i class="arrow-right"></i>
        </li>
        <li>
            <a href="#">About</a>
            <i class="arrow-right"></i>
        </li>
        <li>
            <a href="#">Clients</a>
            <i class="arrow-right"></i>
        </li>
        <li>
            <a href="#">Contact Us</a>
            <i class="arrow-right"></i>
        </li>
    </ol>

</div>