.nested-menu {
    width: 100%;
    a {
        p {
            padding: 0 43px;
            color: #fff;
            i {
                padding: 0 5px;
            }
        }
    }
    .list-group {
        cursor: pointer;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        display: none;
        height: 0;
        li {
            span {
                padding: 0px 5px;
            }
        }
    }
    & .expand {
        ul.submenu {
            display: block;
            list-style-type: none;
            height: auto;
            li {
                a {
                    color: #fff;
                    padding: 5px;
                    display: block;
                }
            }
        }
    }
}