<div id="wrapper">
    <app-header></app-header>
    <div class="left-Sidebar" [@sideMenuAnim]='openClose'>
        <nav>
            <div class="navbar nav_title" style="border: 0;">
                <a href="index.html" class="site_title">
                    <i class="fa fa-paw"></i>
                    <span> Gentelella</span>
                </a>
            </div>
            <div class="clearFix"></div>
            <div class="profile clearFix">
                <div class="profile_pic">
                    <img src="../../../assets/profile.jpg" alt="no image found" class="img-circle profile_img">
                </div>
                <div class="profile_info">
                    <span>Welcome,</span>
                    <h2>John Doe</h2>
                </div>
            </div>

            <ul>
                <!-- <li>
                    <a routerLink="/dashboard" routerLinkActive="custom-active">
                        <i class="fa fa-dashboard" aria-hidden="true"></i>
                        <span>Dashboard</span>
                    </a>
                </li> -->

                <li>
                    <a routerLink="/dashboard/home" routerLinkActive="custom-active">
                        <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                        <span>Home</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/dashboard/blank" routerLinkActive="custom-active">
                        <i class="fa fa-black-tie fa-fw"></i>
                        <span>Blank</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/dashboard/userPlan" routerLinkActive="custom-active">
                        <i class="fa fa-black-tie fa-fw"></i>
                        <span>UserPlan</span>
                    </a>

                </li>

                <li>
                    <a routerLink="/pageNotFound" routerLinkActive="custom-active">
                        <i class="fa fa-th fa-fw"></i>
                        <span>
                            Link Broken
                        </span>
                        <small class="label pull-right label-info">new</small>

                    </a>
                </li>

                <li>
                    <a routerLink="/dashboard/train" routerLinkActive="custom-active">
                        <i class="fa fa-train fa-fw" aria-hidden="true"></i>
                        <span>Trains</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard/trainstation" routerLinkActive="custom-active">
                        <i class="fa fa-clone fa-fw" aria-hidden="true"></i>
                        <span>TrainStation</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-anchor fa-fw" aria-hidden="true"></i>
                        <span>Anchor</span>
                    </a>
                </li>


                <li>
                    <a routerLink="/dashboard/user" routerLinkActive="custom-active">
                        <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                        <span>User</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bell fa-fw" aria-hidden="true"></i>
                        <span>Bell</span>
                    </a>
                </li>

                <li>
                    <a href="javascript:void(0)" (click)="logout()">
                        <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
                        <span>Logout</span>
                    </a>
                </li>

            </ul>
        </nav>
        <div class="leftFooter">
            lfooter
        </div>
    </div>
    <div id="content">
        <div id="right-content" [@contentAnimation]='openClose'>
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-footer></app-footer>
</div>