<div class="row">
  <div class="col-lg-12">
    <app-bread-crumb [heading]="'Upload'" [(urlPart)]="urlpart"></app-bread-crumb>
    <div class="div1">
      <div class="upload">
        <span>
          <i class="fa fa-plus" aria-hidden="true"></i> Choose File </span>
        <input type="file" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
      </div>

    </div>
    <div class="div2">
      <button type="button" class="btn btn-primary" (click)="Upload()">
        Upload</button>
    </div>
  </div>
</div>
